win.screen-center {
	left: 50%;
	top: 50%;	
}

#InputFileBlock{
	width: 100%;
	height: 80px;
	border: dashed 3px #aca;
	border-radius: 10px;
	text-align : center;
	padding-top : 15px;
	font-size: 15px;
	color: gray;
}

#InputFileBlock.feedback{
	background-color: #ffc;	
	color: #ffc;
}

body{
	width : 99%;
}

#ParsedGrid{
}

#RegionsGrid{
}

.grid .table-object{
	background-color: #CFC;	
}

.grid .table-object:hover{
	background-color: #CFF;	
}

.grid .table-object.draft{
	background-color: white;	
}

.grid .table-object.draft:hover{
	background-color: #FFC;	
}

.grid .table-object .ids{
	color: darkgreen;	
	font-weight: bold;
}

.grid .table-object{
	color: gray;	
}

.grid .table-object .field{
	color: black;	
}

.grid .table-object .field.source{
	color: gray;
	display: none;	
}

.grid .table-object .field[field='INN']{
	color: #A5F;	
}


.grid .table-object:hover .field.source{
	display: inline-block;	
}

.grid .table-object .content-line:hover{
	font-weight: bold;
}

.grid .table-object .Client{
	font-size : 20px;	
}

.grid .table-object .ParentClient,
.grid .table-object .Client,
.grid .table-object .Region,
.grid .table-object .City,
.grid .table-object .Address
{
	cursor: pointer;
}

.grid .small-object-button:hover
{
	background-color: yellow;
}

.grid .small-object-button:active
{
	background-color:orange;
}

.grid .table-object .select-indicator{
	background-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin: 2px;
	width: 22px;
	background-image:url('http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/checkbox_checked.png');
}

.grid .table-object.pined .select-indicator{
	background-image:url('http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/checkbox_unchecked.png');
}

.grid .mass-switcher{
	background-image:url('http://www.iconsearch.ru/uploads/icons/fatcow/32x32/page_white_stack.png');
}

.grid.mass-mode .mass-switcher{
	background-image:url('http://www.iconsearch.ru/uploads/icons/fatcow/32x32/page.png');
}

.grid .add-button{
	background-image:url('http://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_31.png');
}

.grid .delete-button{
	background-image:url('http://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/128x128/DeleteRed.png');
}

.grid .edit-button{
	background-image:url('http://cdn3.iconfinder.com/data/icons/prettyoffice/128/edit.png');
}

.grid .table-object .round-indicator,
.grid .table-object .small-indicator{
	height: 16px;
	width: 16px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid grey;
	margin: 2px;
	padding: 2px;
	background-color: #F0FFFF;
	text-align:center;	
	font-weight: bold;
	font-size: 15px;
}

.grid .objects-container .table-object.deleted{
	background-color: #FFA07A;
}

.grid .objects-container .table-object.deleted:hover{
	background-color: Gainsboro;
}

.parsed-verb{
	color: black;
	display: inline-block;	
	padding: 5px;
}

.parsed-verb.loading{
	display : none;
}

.parsed-verb:hover{
	cursor: pointer;
	border: solid 1px gray;
}

.parsed-verb.pointer{
	background-color: yellow;
}

.parsed-verb.problem{
	color: red;
}

.parsed-verb.ignore{
	color: #ccc;
}

.parsed-verb:not(.parsed){
	font-weight: bold;
}

.verb-manager .verb{
	font-style: italic;
	color: navy;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	padding-bottom: 5px;
}

.verb-manager.known .verb{
	border-bottom: solid 1px green;
}

.verb-manager.unknown .verb{
	color: red;
	border-bottom: dotted 1px red;
}

.verb-manager .values-list{
	width: 250px;
	min-height: 150px;
}

.verb-manager .values-list .item .prop{
	display: inline-block;
	padding: 2px 5px;
	color: gray;
}

.verb-manager .values-list .item .value{
	display: inline-block;
	padding: 2px 5px;
	cursor: pointer;
}

#SemanticParsing{
	border: solid 2px navy;
	padding: 5px;
	width : 500px;
	height: 300px;
}

#SemanticParsing .field{
	font-weight: bold;	
}

#SemanticParsing .id.field{
	color: #ccc;
}

.search-win.loading{
	background : gray;
}

.search-win.loading *{
	opacity: 0.4;
}

input, textarea {width:100%;border:0;outline:0;resize:none;padding:0;margin:0;}
.input-wraper {border:1px solid silver;}
.input-wraper.input-block {display:inline-block;width:250px;}

.container {width:100%;padding:10px;}
.clearfix {clear:both;}
.row {width:100%;clear:both;padding:5px;}
.row > * {vertical-align:top;}
.label {display:inline-block;width:150px;text-align:right;color:gray;}
.half-row {width:50%;float:left;}
.half-row > .row:first-child {padding-top:0;}
.button {width:100px;display:inline-block;background:gray;color:white;padding:5px 0;text-align:center;margin-right:5px;}