.grid{
	position:relative;	
}

.grid.default-theme{
	background-color: #FF893B;
}

.grid .selection-box {
	float:right;
	display:inline-block;
	margin-top:3px;
}

.grid .selection-box .ssort{
	display:block;
}
.grid .selection-box .select-btn{
	
	text-decoration:none;
	color:#fff;
	width:104px;
	height:20px;
	text-align:center;
	border:1px solid #fff;
	cursor:pointer;
	line-height:20px;
	font-size:11px;
	overflow:hidden;
	padding:1px;
	margin:0;
}

.grid .selection-box .select-btn:hover{
	color:#fff;
	background:#36f;
}

.grid .selection-box .ca:hover,
.grid .selection-box .cb:hover{
	background-color: #6fc;		
}

.grid .selection-box .ca, .cb{
	background:#ddd;
	color:#000;
	
}
.grid .selection-box .cab{
	display:none;
}

.grid .selection-box:hover .cab{
	display:block;
	list-style:none;
	width:104px;
	height:20px;
	position:absolute;
}

.grid .small-object-button
{	
	display: inline-block;
	cursor: pointer;
	background-size:cover;
	height: 22px;
	width: 22px;
	margin: 2px;
}

.grid .connection-indicator{
	color: white;
	cursor: pointer;
	font-size: 16px;
	height: 22px;
	margin: 2px;
	padding: 0 8px;
	text-align: center;
	width: 80px;
	float: right;
}

.grid:not(.online):not(.offline) .connection-indicator{
	display: none;	
}

.grid.online .connection-indicator.offline,
.grid.offline .connection-indicator.online{
	display: none;
}

.grid.default-theme .connection-indicator.online{
	background-color: green;
}

.grid.default-theme .connection-indicator.offline{
	background-color: orange;
}

.grid.default-theme  .small-object-button:hover
{
	background-color: yellow;
}

.grid.default-theme .small-object-button:active
{
	background-color:orange;
}

.grid.default-theme .table-object .select-indicator{
	background-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin: 2px;
	width: 22px;
	background-image:url('http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/checkbox_checked.png');
}

.grid.default-theme .table-object.pined .select-indicator{
	background-image:url('http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/checkbox_unchecked.png');
}

.grid.default-theme .mass-switcher{
	background-image:url('http://www.iconsearch.ru/uploads/icons/fatcow/32x32/page_white_stack.png');
}

.grid.default-theme.mass-mode .mass-switcher{
	background-image:url('http://www.iconsearch.ru/uploads/icons/fatcow/32x32/page.png');
}

.grid.default-theme .add-button
{
	background-image:url('http://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_31.png');
}

.grid.default-theme .delete-button{
	background-image:url('http://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/128x128/DeleteRed.png');
}

.grid.default-theme .edit-button{
	background-image:url('http://cdn3.iconfinder.com/data/icons/prettyoffice/128/edit.png');
}

.grid .table-object .left-panel{
	display: inline-block;
	vertical-align: top;
}


.grid .table-object .right-panel{
	display: inline-block;
	vertical-align: top;
}

.grid .table-object .bottom-panel{
	display: inline-block;
	width: 100%;
	height:10px;
}

.grid .table-object .content-panel{
	display: inline-block;
}

.grid .table-object .content-line{
	margin:0;
	padding:0;
}

.grid .table-object .panel{
	display: inline-block;
	padding: 5px 5px;
}

.grid.default-theme .table-object .round-indicator,
.grid.default-theme .table-object .small-indicator{
	height: 16px;
	width: 16px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid grey;
	margin: 2px;
	padding: 2px;
	background-color: #F0FFFF;
	text-align:center;	
	font-weight: bold;
	font-size: 15px;
}


.grid .table-object
{	
	background-color: white;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid black;
	margin: 2px;
}


.grid.default-theme .table-object:hover{
	background-color: #FFE886;
}			

.grid.default-theme .table-object.deleted{
	background-color: #FFA07A;
}

.grid.default-theme .table-object.deleted:hover{
	background-color: Gainsboro;
}


.grid .field
{
	display: inline-block;
	margin: 2px;
	padding: 1px;
}

.grid .field.highlight
{
	background-color: rgba(255, 255, 0, 0.4);
}


.grid .edit-object-form{	
	width: auto;
	background-color: white;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid black;
	margin: 2px;
}

.grid.default-theme .edit-object-form{	
	background-color: #FFE886;
}


.grid .edit-object-form .buttons{
	text-align:center;
}



.grid .edit-object-form .input{
	text-align:center;
	height:20px;
	margin: 5px;
	width: 95%;
}

.grid.default-theme .edit-object-form.input.main{
	background-color: #D0F18F;
}

.grid.default-theme .edit-object-form.input{
	
}
/*http://kuler.adobe.com/#themeID/2046286*/


.grid.default-theme .edit-object-form .input.empty{
	color: #8B8989;	
	background-color: #FFE886;
}

