html
{
    height: 100%; 
}

body 
{
    height: 100%;
    margin: 0px;
    font-size: 20px;
}



.month
{
    border: double 2px blue;
    float: left;
    height: 100%;
    width: 25%;
    color: #000080;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #EEE;
}


.month.current
{
    width: 50%;
    background-color: white;
    font-size: 200%;
}

.top
{
    width: 100%;
    height: 33%;    
}

.list{
    height: 66%;
}

.month.hided
{
    display: none; 
}
