.inviz{
    display: none;
}

.content
    { 
    width:40%;
    
}
.content1
    { 
    width:40%;
    
}
.row
    {
    width:80%;
    background-image: linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -o-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    float:left;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(48,122,9)),
	color-stop(0.5, rgb(114,255,79)),
	color-stop(1, rgb(0,168,11))
	);
}

.row1{  
    float: right;
    background-image: linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -o-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    float:left;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(48,122,9)),
	color-stop(0.5, rgb(114,255,79)),
	color-stop(1, rgb(0,168,11))
	);
}

.cell{
    width:80%;
    background-image: linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -o-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    float:left;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(48,122,9)),
	color-stop(0.5, rgb(114,255,79)),
	color-stop(1, rgb(0,168,11))
	);
}

.cell2
    {  
    float: right;
    background-image: linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -o-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(48,122,9) 0%, rgb(114,255,79) 50%, rgb(0,168,11) 100%);
    float:left;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(48,122,9)),
	color-stop(0.5, rgb(114,255,79)),
	color-stop(1, rgb(0,168,11))
	);
}

.row3{
    width:84%;
    background-image: linear-gradient(bottom, rgb(16,69,24) 0%, rgb(56,240,114) 50%, rgb(15,99,34) 100%);
    background-image: -o-linear-gradient(bottom, rgb(16,69,24) 0%, rgb(56,240,114) 50%, rgb(15,99,34) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(16,69,24) 0%, rgb(56,240,114) 50%, rgb(15,99,34) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(16,69,24) 0%, rgb(56,240,114) 50%, rgb(15,99,34) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(16,69,24) 0%, rgb(56,240,114) 50%, rgb(15,99,34) 100%);
    float:left;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(16,69,24)),
	color-stop(0.5, rgb(56,240,114)),
	color-stop(1, rgb(15,99,34))
	
	);
}

.content3
    {clear:both;}
.panel
    {float:left;}