.invisible{
	display: none!important;	
}

.player-box .video-box{
	width : 640px;
	height : 360px;
}

.player-box {
	position : relative;
	width : 640px;
	height : 360px;
	background: gray;
}

.player-box .control-box{
	position: absolute;
	z-index: 10;		
	width : 480px;
	display: none;
}

.player-box:hover .control-box{
	display : block;
	position: absolute;
	bottom: 0;
	left: 0;
	width : 480px;
	height : 40px;
	background-color: rgba(100, 120, 120, 0.4);
}

.player-box .control-box .video-control.play{
	display: inline-block;	
}

.player-box.playing .control-box .video-control.play{
	display: none;	
}

.player-box .control-box .video-control.pause{
	display: none;	
}

.player-box.playing .control-box .video-control.pause{
	display: inline-block;	
}

.player-box .protection-box{
	position: absolute;
	top : 0;
	left : 0;		
	width : 480px;
	height : 320px;
	background: none;
	z-index: 5;
}

.player-box.error{
	background: #ccc;	
}

.player-box.error .error-box{
	padding-top: 100px;
	color: red;
	font-size: 20px;
}


.player-box protectionBox .watermark{
	position: absolute;
	width: 80px;
	height: 40px;
	color: white;
	opacity: 0.5;
}

.player-box .vjs-fullscreen-control{
	display: none!important;	
}

.player-box .vjs-control-bar{
	padding-right: 10px;
	font-size: 67%;
}

.player-box .vjs-big-play-button {
	top: 36%!important;
	left: 38%!important;
}