body {
	    background:white; 
	    padding:0; 
	    margin:0;
	    width: 100%;
	    height: 100%;	
	}
	
	.forum
	{
	    margin: 0 auto;
	    width: 80%;	    
	    font-family: serif; 
   	    font-size: 14px;
	    position: relative;
	    padding-top: 30px;
	}
	
	
	.forum >.title
	{
	    color: blue; 
	    width: 100%;
	    position: absolute;
	    top: 0; 
	    left: 0;
	}
	
	
	.forum >.title .text
	{
	    font-size: 22px; 
	    background: #f0f0f0; /* Цвет фона */
	    border: 1px solid black; /* Параметры рамки */
	    padding: 10px; /* Поля вокруг текста */
	    border-radius: 40px 10px;
	    box-shadow: 0 0 5px rgba( 0, 0, 0, 5);
	    text-align:center;
	    width: 100px;
	    margin: 0 auto;	   
	}
	
	
	.forum .section
	{
	    background:green;  
	}
	
	.forum .title
	{	    
	    font-size: 20px;
	    padding: 5px 50px;
	}
	
	.forum .section .header
	{
	    background:#828282;  
	    font-size:18px;
	    color: white;
	    width: 100%;
	}
	
	.forum .section .cell {
	    float: left;
	}
	
	
	.forum .section .cell.odd
	{
	    background:#B5B5B5;
	}
	
	.forum .section .cell.even{
	    background:#CFCFCF;
	}
	
	.forum .section .cell.name
	{
	    width: 50%;
	}
	
	.forum .section .cell.tema {
	    width:20%;text-align:center;
	}
	.forum .section .cell.answer{
	    width:10%; text-align:center;
	}
	
	.forum .section .cell.last-message {
	    width:20%;
	    text-align:center;
	}
	
		
	





















